* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --black: rgb(0,0,0);
    --pink_soft: rgba(255, 68, 227, 0.222);
    --white: rgb(255, 255, 255);
    --white_sdown: rgb(240, 240, 240);
    --orange: rgb(255, 166, 0);
    --pink:rgba(244, 35, 230, 0.871);
    --white_soft: rgba(255, 255, 255, 0.112);
    --black_soft: rgba(0,0,0,0.1);
    --black_fsoft: rgba(0,0,0,0.5);
    --dark_gray: rgb(34, 34, 34);
    --celeste: rgb(29, 161, 242);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: var(--white);
}

.f1-2023-highlight {
    background-color: var(--black_fsoft);
    padding: 40px 0;
    text-align: center;
}

.f1-2023-highlight h1 {
    color: var(--black);
    margin-bottom: 30px;
}

.highlight-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.highlight-content article {
    flex: 1;
    min-width: 250px;
    background-color: var(--black_soft);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.highlight-content article h2 {
    color: var(--black);
}

.highlight-content p {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .highlight-content {
        flex-direction: column;
    }
}

.f1-driver-domination {
    background-color: var(--black_fsoft); /* Un fondo ligeramente diferente para destacar la sección */
    padding: 40px 0;
    text-align: center;
}

.driver-highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.driver-highlights article {
    flex: 1;
    min-width: 300px; /* Asegurarse de que cada artículo tenga suficiente espacio */
    background-color: var(--black_soft);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.driver-highlights article h2 {
    color: var(--black); /* Color azul para los subtítulos */
}

.driver-highlights p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para imágenes, si decides agregarlas */
.driver-highlights img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .driver-highlights {
        flex-direction: column;
    }
}
